.app {
    height: 100vh;
    overflow-y: scroll;
    background: url('../../assets/sport.jpg') center / cover no-repeat;
}

.content {
    display: grid;
    grid-template-columns: 560px 499px;
    max-width: 1040px;
    margin: 0 auto;
    padding-top: 50px;
    &__interactive {
        padding-left: 40px;
    }
}

.rounded {
    border-radius: 0.25rem !important;
    background: azure;
}    